{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="main-wrapper">


  

    
    <!-- Hero Start -->
    <div class="hero-section section d-lg-flex align-items-lg-start justify-content-lg-center">

        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <!-- Hero Content Start -->
                    <div class="hero-content">
                        <h2 class="title">Are You Looking For Admission In The Uk?</h2>
                        <h2 class="title">We Are Here To Help!</h2>
                        <p>Contact our professional educational consultants for easy and seamless admission process.</p>
                        {% comment %} <div class="hero-form">
                            <form action="#">
                                <input type="text" placeholder="What do you want to learn?">
                                <button class="btn btn-hover-heading-color">Search</button>
                            </form>
                        </div> {% endcomment %}
                        {% comment %} <div class="hero-info-list">
                            <ul>
                                <li>
                                    <i class="flaticon-check"></i>
                                    <span>Get Certified</span>
                                </li>
                                <li>
                                    <i class="flaticon-check"></i>
                                    <span>Gain Job-ready Skills</span>
                                </li>
                            </ul>
                        </div> {% endcomment %}
                    </div>
                    <!-- Hero Content End -->
                </div>
            </div>
        </div>
        <!-- Hero Image Start -->
        <div class="hero-images">
            <div class="image">
                <img src="{% static 'images/bite.jpg' %}" alt="">
            </div>
            <div class="shape-1 parallaxed">
                <img src="{% static 'images/shape/shape-1.png' %}" alt="">
            </div>
            <div class="shape-2 parallaxed">
                <img src="{% static 'images/shape/shape-2.png' %}" alt="">
            </div>
            <!-- Hero Image End -->
        </div>

    </div>
    <!-- Hero End -->

    <!-- Features Start -->
    <div class="section features-section">
        <div class="container">
            <!-- Features Wrapper Start -->
            <div class="features-wrapper">
                <div class="row g-0">
                    <div class="col-lg-4 col-md-4 features-col">
                        <!-- Features Item Start -->
                        <div class="features-item">
                            <div class="features-icon">
                                <img src="{% static 'images/features/f-icon-1.png' %}" alt="">
                            </div>
                            <div class="features-content">
                                <h3 class="title">Choose from top universities!</h3>
                                <p>With flexible courses.</p>
                            </div>
                        </div>
                        <!-- Features Item End -->
                    </div>
                    <div class="col-lg-4 col-md-4 features-col">
                        <!-- Features Item Start -->
                        <div class="features-item">
                            <div class="features-icon">
                                <img src="{% static 'images/features/f-icon-2.png' %}" alt="">
                            </div>
                            <div class="features-content">
                                <h3 class="title">Expert Educational Consultants.</h3>
                                <p>Upskill with Speacilist</p>
                            </div>
                        </div>
                        <!-- Features Item End -->
                    </div>
                    <div class="col-lg-4 col-md-4 features-col">
                        <!-- Features Item Start -->
                        <div class="features-item">
                            <div class="features-icon">
                                <img src="{% static 'images/features/f-icon-3.png' %}" alt="">
                            </div>
                            <div class="features-content">
                                <h3 class="title">Join Our Growing Happy Clients.</h3>
                                <p>Contact Us Today!</p>
                            </div>
                        </div>
                        <!-- Features Item End -->
                    </div>
                </div>
            </div>
            <!-- Features Wrapper End -->
        </div>
    </div>
    <!-- Features End -->

    <!-- Courses Start -->
    <div class="section section-padding">
        <div class="container">
            <!-- Section Title Start -->
            <div class="section-title text-center">
                <h2 class="title">Our Services</h2>
            </div>
            <!-- Section Title End -->

            <!-- Courses Wrapper Start -->
            <div class="courses-wrapper">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <!-- Single Courses Start -->
                        <div class="single-course">
                            <!-- Courses Image Start -->
                            <div class="courses-image">
                                <img src="{% static 'images/courses/talk.jpg' %}" alt="Courses">
                                {% comment %} <div class="top-meta">
                                    <div class="categories">
                                        <a class="tag color-1" href="#">Business</a>
                                    </div>
                                    <div class="wishlist">
                                        <a href="#"><i class="far fa-bookmark"></i></a>
                                    </div>
                                </div> {% endcomment %}
                            </div>
                            <!-- Courses Image End -->
                            <!-- Courses Content Start -->
                            <div class="courses-content">
                                {% comment %} <div class="courses-author">
                                    <img src="{% static 'images/courses/author-1.jpg' %}" alt="author">
                                    <h4 class="name"><a href="#">Mick Harris</a></h4>
                                </div> {% endcomment %}
                                <h3 class="title">Educational Consultancy.</h3>
                            </div>
                            <!-- Courses Content End -->
                            <!-- Courses Meta Start -->
                            {% comment %} <div class="courses-meta">
                                <div class="course-enroll-rating d-flex">
                                    <p><i class="flaticon-user"></i> 4</p>
                                    <p><i class="flaticon-star-1"></i> 1</p>
                                </div>
                                <div class="price">
                                    <span>£59.99</span>
                                </div>
                            </div> {% endcomment %}
                            <!-- Courses Meta End -->

                        </div>
                        <!-- Single Courses End -->
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <!-- Single Courses Start -->
                        <div class="single-course">
                            <!-- Courses Image Start -->
                            <div class="courses-image">
                                <img src="{% static 'images/courses/passport.jpg' %}" alt="Courses">
                                {% comment %} <div class="top-meta">
                                    <div class="categories">
                                        <a class="tag color-2" href="#">Animation</a>
                                    </div>
                                    <div class="wishlist">
                                        <a href="#"><i class="far fa-bookmark"></i></a>
                                    </div>
                                </div> {% endcomment %}
                            </div>
                            <!-- Courses Image End -->
                            <!-- Courses Content Start -->
                            <div class="courses-content">
                                {% comment %} <div class="courses-author">
                                    <img src="{% static 'images/courses/author-2.jpg' %}" alt="author">
                                    <h4 class="name"><a href="#">Kevin Perry</a></h4>
                                </div> {% endcomment %}
                                <h3 class="title">Visa Application.</h3>
                            </div>
                            <!-- Courses Content End -->
                            <!-- Courses Meta Start -->
                            {% comment %} <div class="courses-meta">
                                <div class="course-enroll-rating d-flex">
                                    <p><i class="flaticon-user"></i> 55</p>
                                    <p><i class="flaticon-star-1"></i> 3</p>
                                </div>
                                <div class="price">
                                    <span>Free</span>
                                </div>
                            </div> {% endcomment %}
                            <!-- Courses Meta End -->

                        </div>
                        <!-- Single Courses End -->
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <!-- Single Courses Start -->
                        <div class="single-course">
                            <!-- Courses Image Start -->
                            <div class="courses-image">
                                <img src="{% static 'images/courses/architecture.jpg' %}" alt="Courses">
                                {% comment %} <div class="top-meta">
                                    <div class="categories">
                                        <a class="tag color-3" href="#">Finance</a>
                                    </div>
                                    <div class="wishlist">
                                        <a href="#"><i class="far fa-bookmark"></i></a>
                                    </div>
                                </div> {% endcomment %}
                            </div>
                            <!-- Courses Image End -->
                            <!-- Courses Content Start -->
                            <div class="courses-content">
                                {% comment %} <div class="courses-author">
                                    <img src="{% static 'images/courses/author-1.jpg' %}" alt="author">
                                    <h4 class="name"><a href="#">Mick Harris</a></h4>
                                </div> {% endcomment %}
                                <h3 class="title">Lodging & Accomodations.</h3>
                            </div>
                            <!-- Courses Content End -->
                            <!-- Courses Meta Start -->
                            {% comment %} <div class="courses-meta">
                                <div class="course-enroll-rating d-flex">
                                    <p><i class="flaticon-user"></i> 40</p>
                                    <p><i class="flaticon-star-1"></i> 3</p>
                                </div>
                                <div class="price">
                                    <span>Free</span>
                                </div>
                            </div> {% endcomment %}
                            <!-- Courses Meta End -->

                        </div>
                        <!-- Single Courses End -->
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <!-- Single Courses Start -->
                        <div class="single-course">
                            <!-- Courses Image Start -->
                            <div class="courses-image">
                                <img src="{% static 'images/courses/traveling.jpg' %}" alt="Courses">
                                
                            </div>
                            <!-- Courses Image End -->
                            <!-- Courses Content Start -->
                            <div class="courses-content">
                                
                                <h3 class="title"><a href="course-single.html">Travelling & Logistics</a></h3>
                            </div>
                            <!-- Courses Content End -->
                            <!-- Courses Meta Start -->
                            {% comment %} <div class="courses-meta">
                                <div class="course-enroll-rating d-flex">
                                    <p><i class="flaticon-user"></i> 2</p>
                                    <p><i class="flaticon-star-1"></i> 1</p>
                                </div>
                                <div class="price">
                                    <span>£29.99</span>
                                </div>
                            </div> {% endcomment %}
                            <!-- Courses Meta End -->

                        </div>
                        <!-- Single Courses End -->
                    </div>
                </div>

            </div>
            <!-- Courses Wrapper End -->
            <!-- View Courses Start-->
            <div class="view-all-courses">
                <div class="view-courses-content">
                    <img src="{% static 'images/courses/view-img.png' %}" alt="courses">
                    <h3 class="title">Learn specializations from top Courses</h3>
                </div>
                <a class="btn" href="course.html">View All Courses</a>
            </div>
            <!-- View Courses End -->
        </div>
    </div>
    <!-- Courses End -->

    <!-- Expert Track Start -->
    <div class="section expert-track-section" style="background-image: url({% static 'images/bg/agenda.jpg' %});">
        <div class="container">
            <!-- Expert Track Wrapper Start -->
            <div class="expert-track-wrapper">
                <div class="row">
                    <div class="col-xl-6 col-lg-12">
                        <!-- Expert Track Content Start -->
                        <div class="expert-track-content">
                            {% comment %} <h3 class="sub-title">Introducing ExpertTracks</h3> {% endcomment %}
                            <h2 class="title">Want to catch up with the latest news and events? Visit our blog.</h2>
                            <a class="btn" href="{% url 'blog' %}">Blog</a>
                        </div>
                        <!-- Expert Track Content End -->
                    </div>
                    {% comment %} <div class="col-xl-6  col-lg-12">
                        <!-- Expert Track Content Start -->
                        <div class="expert-track-content sign-up-content">
                            <h3 class="sub-title">Introducing ExpertTracks</h3>
                            <h2 class="title">Get 30% off limitless short courses and certificates for an entire year</h2>
                            <a class="btn" href="contact.html">Sign Up Now</a>
                        </div>
                        <!-- Expert Track Content End -->
                    </div> {% endcomment %}
                </div>
            </div>
            <!-- Expert Track Wrapper End -->
        </div>
    </div>
    <!-- Expert Track Start -->

    <!-- Global Learner Start -->
    <div class="section global-learner-section section-padding-02">
        <div class="container">
            <!-- Global Learner Wrapper Start -->
            <div class="global-learner-wrapper">
                <!-- Global Learner Content Start -->
                <div class="global-learner-content">
                    <h2 class="title">Get help from expert educational consultants.</h2>
                </div>
                <!-- Global Learner Content End -->
                <!-- Global Learner Content Start -->
                <div class="learner-courses-content">
                    <div class="single-item learner">
                        <h3 class="number">Over 100</h3>
                        <span>Clients</span>
                    </div>
                    <div class="single-item courses">
                        <h3 class="number">From over 30</h3>
                        <span>Countries</span>
                    </div>
                </div>
                <!-- Global Learner Content End -->
            </div>
            <!-- Global Learner Wrapper End -->
        </div>
    </div>
    <!-- Global Learner End -->


    <!-- Access Courses Start -->
    <div class="section access-course-section section-padding-02">
        <div class="container">
            <!-- Access Courses Wrapper Start -->
            <div class="access-course-wrapper">
                <div class="row">
                    <div class="col-xl-6">
                        <!-- Access Courses Image Start -->
                        <div class="access-course-img">
                            <img src="{% static 'images/woman.jpg' %}" alt="">
                        </div>
                        <!-- Access Courses Image End -->
                    </div>
                    <div class="col-xl-6">
                        <!-- Access Courses Content Start -->
                        <div class="access-course-content">
                            {% comment %} <span class="price">$69.99 /month</span> {% endcomment %}
                            <h2 class="title">We know you have questions.</h2>
                            <ul>
                                <li><span class="icon"></span> <span class="text">Visit Our <a href="{% url 'faq' %}">FAQ</a> page.</span> </li>
                                {% comment %} <li><span class="icon"><i class="flaticon-check"></i> </span> <span class="text">Explore a variety of fresh topics</span> </li>
                                <li><span class="icon"><i class="flaticon-check"></i> </span> <span class="text">Find the right instructor for you</span> </li> {% endcomment %}
                            </ul>
                            
                        </div>
                        <!-- Access Courses Content End -->
                    </div>
                </div>
            </div>
            <!-- Access Courses Wrapper End -->
        </div>
    </div>
    <!-- Access Courses End -->

    <!-- Features Category Start -->
    <div class="section features-category-section section-padding">
        <div class="container">
            <!-- Features Category Wrapper Start -->
            <div class="features-category-wrapper">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <!-- Features Category Item Start -->
                        <div class="features-category-item">
                            <div class="features-category-icon">
                                <img src="{% static 'images/features-cate/f-cate-1.png' %}" alt="">
                            </div>
                            <div class="features-category-content">
                                <h3 class="title">Education</h3>
                                <ul class="features-cate-list">
                                    <li>Admission Application</li>
                                    <li>Eduational Consultancy</li>
                                    <li>Institution Selection</li>
                                </ul>
                            </div>
                        </div>
                        <!-- Features Category Item End -->
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <!-- Features Category Item Start -->
                        <div class="features-category-item">
                            <div class="features-category-icon">
                                <img src="{% static 'images/features-cate/f-cate-2.png' %}" alt="">
                            </div>
                            <div class="features-category-content">
                                <h3 class="title">Lodging & Accomodations</h3>
                                <ul class="features-cate-list">
                                    <li>Tempprary Lodging Services</li>
                                    <li>Accomodation Payments</li>
                                    <li>Hotel Reservations</li>
                                    
                                </ul>
                            </div>
                        </div>
                        <!-- Features Category Item End -->
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <!-- Features Category Item Start -->
                        <div class="features-category-item">
                            <div class="features-category-icon">
                                <img src="{% static 'images/features-cate/f-cate-3.png' %}" alt="">
                            </div>
                            <div class="features-category-content">
                                <h3 class="title">Travel & Logiistics</h3>
                                <ul class="features-cate-list">
                                    <li>Round The World Shipping</li>
                                    <li>Vissa Application</li>                                    
                                    <li>Flight Booking</li>
                                </ul>
                            </div>
                        </div>
                        <!-- Features Category Item End -->
                    </div>
                </div>
            </div>
            <!-- Features Category Wrapper End -->
        </div>
    </div>
    <!-- Features Category End -->

    <!-- Testimonial Start -->
    <div class="section testimonial-section section-padding">
        <div class="container">
            <div class="section-title text-center">
                <h2 class="title">We have over one hundred clients & they share <br> success stories</h2>
            </div>
            <!-- Testimonial Wrapper Start -->
            
            <div class="testimonial-wrapper swiper-container testimonial-active">
                <div class="swiper-wrapper">  
                    {% for testimony in testimonies %}                  
                    <div class="swiper-slide">                        
                        <!-- Single Testimonial Start -->
                        <div class="single-testimonial">
                            <div class="testimonial-img">
                                <img src="{{testimony.testimonies_avatar.url}}" alt="">
                            </div>
                            <div class="testimonial-content color-1">
                                <p>{{testimony.testimony_body|truncatewords:50}}</p>
                                <div class="testimonial-bottom">
                                    <div class="name-degree">
                                        <span class="name">{{testimony.testimony_name}}</span>
                                        <span class="degree">{{testimony.university}}</span>
                                    </div>
                                    <span><i class="flaticon-straight-quotes"></i></span>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Single Testimonial End -->
                    </div>
                    {% endfor %}
                    
                </div>
                <!-- Add Pagination -->
                <div class="testimonial-arrow swiper-button-next"></div>
                <div class="testimonial-arrow swiper-button-prev"></div>

                <div class="swiper-pagination"></div>
            </div>
            <!-- Testimonial Wrapper End -->
        </div>
    </div>
    <!-- Testimonial End -->

    <!-- Instructor Start -->
    <div class="section instructor-section section-padding" style="background-image: url({% static 'images/bg/jason.jpg' %});">
        <div class="container">
            <!-- Instructor Wrapper Start -->
            <div class="instructor-wrapper">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-7">
                        <!-- Instructor Content Start -->
                        <div class="instructor-content">
                            <h2 class="title">Want to join our team?</h2>
                            <h3><p>Contact Us today for latest jobs and openings.</p></h3>
                            <a class="btn" href="{% url 'contact' %}">Contact Us</a>
                        </div>
                        <!-- Instructor Content End -->
                    </div>
                    {% comment %} <div class="col-lg-6 col-md-5">
                        <!-- Instructor Play Button Start -->
                        <div class="instructor-play text-center">
                            <a class="popup-video" href="https://www.youtube-nocookie.com/embed/Ga6RYejo6Hk"><i class="fas fa-play"></i></a>
                        </div> {% endcomment %}
                        <!-- Instructor Play Button End -->
                    </div>
                </div>
            </div>
            <!-- Instructor Wrapper End -->
        </div>
    </div>
    <!-- Instructor End -->

    <!-- Blog Start -->
    <div class="section blog-section section-padding">
        <div class="container">
            <div class="blog-wrapper">
                <!-- Section Title Start -->
                <div class="section-title text-center">
                    <h2 class="title">Partnering with world's leading universities and companies.</h2>
                </div>
                <!-- Section Title End -->
                <!-- Blog Wrapper Start -->
                <div class="blog-content-wrapper">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <!-- Single Blog Start -->
                            <div class="single-blog">
                                <!-- Blog Image Start -->
                                <div class="blog-image">
                                    <a href="blog-details.html"><img src="{% static 'images/blog/blog-1.jpg' %}" alt="blog"></a>
                                </div>
                                <!-- Blog Image End -->
                                <!-- Blog Content Start -->
                                <div class="blog-content">
                                    {% comment %} <div class="blog-author-category">
                                        <a class="category color-1" href="#">Health</a>
                                        <div class="blog-author">
                                            <img src="{% static 'images/courses/author-1.jpg' %}" alt="author">
                                            <h4 class="name"><a href="#">Mick Harris</a></h4>
                                        </div>
                                    </div> {% endcomment %}
                                    <h3 class="title"><a href="blog-details.html">Educational technology and mobile learning</a></h3>
                                    {% comment %} <a class="read-more" href="blog-details.html">Read More</a> {% endcomment %}
                                </div>
                                <!-- Blog Content End -->
                            </div>
                            <!-- Single Blog End -->
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <!-- Single Blog Start -->
                            <div class="single-blog">
                                <!-- Blog Image Start -->
                                <div class="blog-image">
                                    <a href="blog-details.html"><img src="{% static 'images/blog/blog-2.jpg' %}" alt="blog"></a>
                                </div>
                                <!-- Blog Image End -->
                                <!-- Blog Content Start -->
                                <div class="blog-content">
                                    {% comment %} <div class="blog-author-category">
                                        <a class="category color-2" href="#">Health</a>
                                        <div class="blog-author">
                                            <img src="{% static 'images/courses/author-1.jpg' %}" alt="author">
                                            <h4 class="name"><a href="#">Mick Harris</a></h4>
                                        </div>
                                    </div> {% endcomment %}
                                    <h3 class="title"><a href="#">We are changing the way the world learns</a></h3>
                                    {% comment %} <a class="read-more" href="blog-details.html">Read More</a> {% endcomment %}
                                </div>
                                <!-- Blog Content End -->
                            </div>
                            <!-- Single Blog End -->
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <!-- Single Blog Start -->
                            <div class="single-blog">
                                <!-- Blog Image Start -->
                                <div class="blog-image">
                                    <a href="blog-details.html"><img src="{% static 'images/blog/blog-3.jpeg' %}" alt="blog"></a>
                                </div>
                                <!-- Blog Image End -->
                                <!-- Blog Content Start -->
                                <div class="blog-content">
                                    {% comment %} <div class="blog-author-category">
                                        <a class="category color-3" href="#">Health</a>
                                        <div class="blog-author">
                                            <img src="{% static 'images/courses/author-1.jpg' %}" alt="author">
                                            <h4 class="name"><a href="#">Mick Harris</a></h4>
                                        </div>
                                    </div> {% endcomment %}
                                    <h3 class="title"><a href="blog-details.html">Guide to visas and funding to study in the UK</a></h3>
                                    {% comment %} <a class="read-more" href="blog-details.html">Read More</a> {% endcomment %}
                                </div>
                                <!-- Blog Content End -->
                            </div>
                            <!-- Single Blog End -->
                        </div>
                    </div>
                </div>
                <!-- Blog Wrapper End -->
            </div>

        </div>
    </div>
    <!-- Blog End -->

    <!-- Brand Logo End -->
    {% comment %} <div class="section Brand-section">
        <div class="container">
            <!-- Brand Wrapper End -->
            <div class="brand-wrapper section-padding text-center">
                <h3 class="brand-title">Partnering with world's leading <span> universities and companies</span> </h3>

                <div class="brand-active">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <!-- Single Brand Start -->
                            <div class="swiper-slide single-brand">
                                <img src="{% static 'images/brand/contact us1.jpg' %}" alt="Brand">                                
                            </div>
                            
                            <!-- Single Brand End -->
                            <!-- Single Brand Start -->
                             <div class="swiper-slide single-brand">
                                <img src="{% static 'images/brand/contact us1.jpg' %}" alt="Brand">
                            </div>
                            <!-- Single Brand End -->
                            <!-- Single Brand Start -->
                            <div class="swiper-slide single-brand">
                                <img src="{% static 'images/brand/contact us1.jpg' %}" alt="Brand">
                            </div>
                            <!-- Single Brand End -->
                            <!-- Single Brand Start -->
                            <div class="swiper-slide single-brand">
                                <img src="{% static 'images/brand/contact us1.jpg' %}" alt="Brand">
                            </div>
                            <!-- Single Brand End -->
                            <!-- Single Brand Start -->
                            <div class="swiper-slide single-brand">
                                <img src="{% static 'images/brand/brand-5.png' %}" alt="Brand">
                            </div> 
                            <!-- Single Brand End -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Brand Wrapper End -->
        </div>
    </div> {% endcomment %}
    <!-- Brand Logo End -->

    <!-- Call to Action Start -->
    <div class="section call-to-action-section">
        <div class="container">
            <!-- Call to Action Wrapper Start -->
            <div class="call-to-action-wrapper">

                <!-- Call to Action Image Start -->
                <div class="call-to-action-image">
                    <div class="image">
                        <img src="{% static 'images/Jeremy.jpg' %}" alt="">
                    </div>
                </div>
                <!-- Call to Action Image End -->

                <!-- Call to Action Content Start -->
                <div class="call-to-action-content">
                    <h2 class="title">Learn more about us and how we can help you achieve yoyr dreams.</h2>
                    <a class="btn" href="{% url 'about' %}">About Us</a>
                </div>
                <!-- Call to Action Content End -->

            </div>
            <!-- Call to Action Wrapper End -->
        </div>
    </div>
    <!-- Call to Action End -->





{% endblock content %}